body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  padding: 24px 0;
  margin-right: 76px;
}

.accent-header-logo {
  color: #2e2f42;
}

.nav-list-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item-header {
}

.nav-link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link-header:hover,
.nav-link-header:focus {
  color: #404bbf;
}

.address-header {
  font-style: normal;
}

.address-list-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-item-header {
}

.address-link-header {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
  padding: 24px 0;
}

.address-link-header:hover,
.address-link-header:focus {
  color: #404bbf;
}

.section-main {
  background-color: #2e2f42;
  padding: 188px 0;
}

.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.button-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-benefits {
  display: flex;
  align-items: center;
  gap: 24px;
}

.item-benefits {
  width: calc((100% - 72px) / 4);
}

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
}

.section-team {
  background-color: #f4f4fd;
}

.main-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  align-items: center;
  gap: 24px;
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.item-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 32px 0;
}

.main-title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-portfolio {
}

.img-portfolio {
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px 16px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
}

.logo-link-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-footer-logo {
  color: #f4f4fd;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
