/* #region all */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

/* #endregion all */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container,
.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region hero */
.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
}


.hero-title {
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.hero-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero */

/* #region section1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features{
    padding: 120px 0;
}
.features-item {
    width: calc((100%-72px)/4);
}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* #endregion section1 */

/* #region section2 */
.ourteam {
    background-color: #f4f4fd;
    padding: 120px 0;
}


.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.ourteam-item-container{
    padding: 32px 0;
}
.ourteam-item {
    background-color: #fff;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.ourteam-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.ourteam-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* #endregion section2 */

/* #region section3 */
.ourportfolio{
    padding: 120px 0;
}

.ourportfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.ourportfolio-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.ourportfolio-item {
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

}

.ourportfolio-list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    row-gap: 48px;
    column-gap: 24px;

}

.ourportfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.ourportfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion section3 */

/* #region footer */
.pade-footer {
    background-color: #2e2f42;
        padding: 100px 0;
}


.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo{
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion footer */
